/* ==========================================================================
   #GRID-CLASSES
   ========================================================================== */

// edit()

.container
  center(pad: 1em)

.row
  cf()

.col-half
  stack()
  @media(min-width xm(860))
    col(1/2, cycle: 2)

.align
  align()

.align-h
  align(horizontal)

.align-v
  align(vertical)

.text-center
  text-align center