/* ==========================================================================
   #SETTINGS
   ========================================================================== */


// base jeet settings
jeet = {
  gutter: 3,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1280px
}



/*
   #Global-Variables
   ========================================================================== */

/* Font Stacks*/
helvetica = "Helvetica Neue", "Helvetica", "Arial", sans-serif
georgia = "Georgia", "Cambria", "Times New Roman", "Times", serif


/* Colors */
light = #f7f7f7
mid-gray = #9b9b9b
dark-gray = #4a4a4a
$orange = #F5A623
$red = #D0021B