.about
  col(4/5, offset: 1/10)
  padding 5em 0

.book-cover--s
  width xm(240)
  display block
  margin auto

.author-pic
  display block
  margin auto
  border-radius 50%


.about-book
.about-author
  stack()
  @media(min-width xm(860))
    col(1/2 4/5, gutter: 8)