/*
   #EXERPT SECTION
   ========================================================================== */


.exerpt
  background url('../img/think_bg.jpg')
  background-size cover
  padding-bottom 3em
  @media(min-width xm(860))
    padding 2em 3em 4em

.exerpt__content
  col(4/5, offset: 1/10)

  >p
    color light
    font-family xm(20)


.exerpt__from

  >p
    color light
    font-size xm(24)
    font-family helvetica
    font-weight 300
    float right